* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

/* The background */
canvas {
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    z-index:-10;
    background-color: #fff;
    filter: blur(35px) contrast(30) blur(2px) brightness(20) blur(1px) contrast(2);
}

body {
    padding: 0;
    margin: 0;
}

main {
    color: #fff;
    max-width: 1200px;
    min-width: 1000px;
    width: 80vw;
    height: 90vh;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
}

#path-dashed {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.15s ease-out;
}

.moving-point {
    transition: transform 0.15s ease-out;
}

.wobble {
    transition: transform 0.1s ease;
}

#welcome {
    padding: 0 20px 0 20px;
}

#welcome div {
    text-align: right;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 54px;
    font-style: bold;
    color: #000;
    padding-right: 2px;
    margin-bottom: 0;
    margin-left: auto;
    border-right: 2px solid black; 
    animation: blink-caret 0.85s step-end infinite;
    font-variation-settings: "wght" 700;
    transition-duration: 0.2s;   
}

h1:hover {
    font-variation-settings: "wght" 1000;
    transition-duration: 0.2s;   
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

h2 {
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 100;
    color: #000;
    margin-top: 0;
    padding-right: 7px;
    font-variation-settings: "wght" 400;
    transition-duration: 0.2s;
}

h2:hover {
    font-variation-settings: "wght" 700;
    transition-duration: 0.2s;
}

hr {
    border: 1px solid #000;
}

