#mainMenu {
    float: left;
    position: fixed;
    top: 0;
    display: flex;
    align-items: start;
    height: 100vh;
    width: 100vw;
    /* overflow-x: scroll; */
	overflow-y: hidden;
    
	&:hover {
		overflow-y: scroll;
	}
	
	.titleContainer {
	 	border-radius: 20px;
        border: 1px solid rgba(206, 206, 206, 0.40);
        backdrop-filter: blur(10px);
		background: rgba(252, 252, 252, 0.40);
        position: absolute;
        top: 10vh;
        left: calc(50vw - 150px);
		width: 300px;
		text-align: center;
		padding: 5px;
	}

    .title {
        font-family: "Space Grotesk";
        font-size: 2rem;
        /*border-bottom: 2px solid black;
        font-variation-settings: "wght" 500;*/
        transition-duration: 0.2s;
		align-content: center;

        &:hover {
            font-variation-settings: "wght" 700;
            transition-duration: 0.2s;
        }
    }

    .title a {

        all: unset;

    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(170, 170, 170, .15);
        backdrop-filter: blur(10px);
    }

    #container {
        z-index: 10;
        left: 0;
        top: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 50px;
        /* padding-top: calc(10vh + 50px);*/
    }


    .menuLink {
        font-family: "Space Grotesk";
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        font-variation-settings: "wght" 300;
        transition-duration: 0.2s;
        text-decoration: none;
        text-decoration-color: none;
        color: #444;

        &:hover {
            font-variation-settings: "wght" 700;
            color: black;
            transition-duration: 0.2s;
        }
    }

    /* ul {
        padding-left: 10px;
    } */

    .menuSection2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 45px;
        width: 250px;
        padding: 25px;
        margin: 30px;
        border-radius: 20px;
        border: 1px solid rgba(206, 206, 206, 0.40);
        backdrop-filter: blur(10px);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Space Grotesk';
        font-weight: 500;
        color: #000;
        margin-top: 0;
        font-variation-settings: "wght" 500;
        transition-duration: 0.2s;
        margin-bottom: 0.1em;

        &:hover {
            font-variation-settings: "wght" 700;
            transition-duration: 0.2s;
        }
    }

    h2 {
        font-size: 1.25rem;
        /* border-bottom: 2px solid black; */
    }

    h3 {
        font-size: 1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    .menuInside2 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 45px;
    }
}
