h1 {
    font-family: 'Playfair Display';
    font-size: 54px;
    font-style: bold;
    color: #000;
    padding-right: 2px;
    margin-bottom: 0;
    margin-left: auto;
    border-right: 2px solid black; 
    animation: blink-caret 0.85s step-end infinite;
    font-variation-settings: "wght" 700;
    transition-duration: 0.2s;   
}

h1:hover {
    font-variation-settings: "wght" 1000;
    transition-duration: 0.2s;   
}
